<% layout('/layouts/boilerplate') %>
<body>
  <div class="col-6 offset-3 p-4 shadow rounded bg-light justify-content-center">
    <h1>Contact Us</h1>
    <p>If you have any questions or concerns regarding your booking or payment, please reach out to us:</p>
    <p><strong>Email:</strong> support@bookmyvenue.com</p>
    <p><strong>Phone:</strong> +91 82095 22482</p>
    <p><strong>Address:</strong> BookMyVenue Pvt Ltd, NIT Rourkela, Odisha, India</p>
  </div>
  
</body>