<% layout('/layouts/boilerplate') %>
<body>
    <div class="col-6 offset-3 p-4 shadow rounded bg-light justify-content-center">
      <h1>Shipping Policy</h1>
      <p>Since BookMyVenue deals with online venue booking services, no physical products are shipped.</p>

      <p>All booking confirmations, receipts, and invoices are sent digitally via email and can also be accessed in your account dashboard.</p>

      <p>If you do not receive your confirmation email within 24 hours, please contact us at <b style="text-decoration: underline;"><a href="/contactus">Contact Us</a></b>.</p>
    </div>
  
</body>