<footer class="text-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row gy-4">
      <!-- Logo and Description -->
      <div class="col-md-3">
        <div class="d-flex align-items-center mb-2">
          <a class="d-flex align-items-center" href="/">
          <img src="/assets/venueCircle_logo.png" alt="logo" class="logo">&nbsp;
          <h5 class="mb-0 fw-bold" style="color: white;"> Book My Venue</h5>
          </a>
        </div>
        <p class="ms-3">Find your perfect venue through our platform. Discover, compare, and book exceptional spaces worldwide.</p>
        <div class="d-flex gap-3 mt-3 socials ms-5">
            <a href="bookmyvenue/facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="bookmyvenue/instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="bookmyvenue/linkedin"><i class="fa-brands fa-linkedin"></i></a>
            <a href="bookmyvenue/x"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>

      <!-- Discover -->
      <div class="col-md-3">
        <h5 class="fw-bold mb-3">Discover</h5>
        <ul class="list-unstyled">
          <li>&nbsp;<a class="footer-anchor" href="#">Event Venues</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="#">Luxury Hotels</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="#">Conference Rooms</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="#">Wedding Venues</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="#">Party Spaces</a> </li>
        </ul>
      </div>

      <!-- Company -->
      <div class="col-md-3">
        <h5 class="fw-bold mb-3">Company</h5>
        <ul class="list-unstyled">
          <li>&nbsp;<a class="footer-anchor" href="/aboutus">About Us</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/careers">Careers</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/press">Press</a> </li>
        </ul>
      </div>

      <!-- Support -->
      <div class="col-md-3">
        <h5 class="fw-bold mb-3">Support</h5>
        <ul class="list-unstyled">
          <li>&nbsp;<a class="footer-anchor" href="/helpcenter">Help Center</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/contactus">Contact Us</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/shipping">Shipping</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/shipping">Cancellation and Refund Policy</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/privacy">Privacy Policy</a> </li>
          <li>&nbsp;<a class="footer-anchor" href="/terms">Terms of Service</a> </li>
          
        </ul>
      </div>
    </div>

    <hr class="border-secondary mt-4">
    <h5 class="text-center  mb-0">&COPY; 2025 Book My Venue Private Limited | All rights reserved.</h5>
  </div>
</footer>



